
.navbar-sm-menu{
   margin-top: 20px;
   margin-bottom: 20px;
  margin-left:204px;
}

@media (min-width:768px){
   .NavBarLargeContainer{
   width: 1440px fixed;
   height: 89px;
   flex-shrink: 0;
   border: 1px solid var(--basic-300, #E4E7EB);
   background: var(--text-color-alternative, #FFF);
   padding-left:150px;
   padding-top:24px;
   padding-bottom:24px;
   display:flex;
   justify-content:space-between;
   }
   .Websitelogo{
      width: 133px;
      height: 41.001px;
      flex-shrink: 0;
   }
   .Websitelogoimg{
      width: 123px;
      height: 65px;
      flex-shrink: 0;
      border-radius: 5px;
   }
   .OptionContainer{
      display:flex;
      align-items: center;
   }
   .Option{
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */;
      margin-right:24px;
      background-color: transparent;
      margin-top: 10px;
      border:0px;
      list-style: none;
      color:black;
   }
   .Logout{
      margin-right:150px;
      margin-top:15px;
      display: flex;
      padding: 8px 16px;
      flex-direction: column;
      align-self: center;
      gap: 6px;
      border-radius: 4px;
      background: #0284C7;
      color: var(--light-blue-gray-50, #F8FAFC);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
   }
   .Option-blue{
      color: #0284C7;
   }
   .link{
      text-decoration-color: white;
   }
   .navbar-small{
      display: none;
   }
  /*from here it is Ai button */
  

}

@media(max-width:767px){
   .website-logo-sm{
      height:35px;
      width:89px
   }
   .NavBarLargeContainer{
      display: none;
   }
   .navbar-small{
      width: 360px;
      height: 56px;
      flex-shrink: 0;
      padding-top: 16px;
      padding-left: 24px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
   }
   .small-home{
       background-color: transparent;
       border:0px;
   }
   .pop-bar-sm-container{
       display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
   
   }
   .li{
      text-decoration: none;
      list-style: none;
      margin-left: 10px;
      color: var(--light-blue-gray-500, #64748B);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 162.5% */
      letter-spacing: -0.356px;
   }
  
   .Logout{
      border-radius: 4px;
background: #0284C7;
color: var(--light-blue-gray-50, #F8FAFC);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
 width:73px;
 height:32px;
   }
   .close-button{
      background-color: transparent;
      border:0px;
   
   }
   .Hamburger-button{
      background-color: transparent;
      border:0px;
   }
   
   
}